*{
    font-family: sans-serif;
    color: #111;
}
body{
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    background-color: #eee;
}

div{
    background-color: #ccc;
    width: 50vw;
    padding: 2%;
    border-radius: 1rem;
}
pre{
    white-space: pre-wrap;
}
details{
    width: inherit;
    margin: 1% 0;
}

summary{
    background-color: #bbb;
    border-radius: 0.3rem;
    padding-left: 1%;
    text-align: center;
    list-style: none;
    
}